body{
    background-color:#FFD7DB;
    height:100%;
    background-size: cover;
    margin:0;
}

.toprow{
   background-color:white;
   height:auto;
}

.container{
    width:470px;
    height:300px;
    position:relative;
    margin:0 auto;
    margin-top:100px;
    justify-content:center;
    border:solid;
    padding-left:30px;
}

.input{
    padding-bottom:10px;
    padding-right:90px;
    border:none;
}

.input input{
    border:none;
    width:300px;
    padding:5px;
    font-size:15px;
    border-bottom: 2px solid black;
    background-color:#FFD7DB;

}

.input textarea{
    border:none;
    width:300px;
    padding:5px;
    font-size:15px;
    border-bottom: 2px solid black;
    background-color:#FFD7DB;
    font-family:Arial;
}

.contact-form h3{
    font-family:arial;
}

.send-button #send{
    border:none;
    padding:10px 15px;
    background-color:grey;
    margin-top:20px;
}

.send-button #send:hover{
    border:none;
    background-color:white;
    color:black;
}


@media (max-width:750px){
    .container{
        width:320px;
    }
    .input{
        padding-right:0;
    }

}